# ===== Android / Gradle =====
*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx

# ===== Local config =====
local.properties

# ===== IntelliJ / Android Studio =====
.idea/
!.idea/codeStyles/
!.idea/gradle.xml

# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride

# ===== Windows =====
Thumbs.db
